$v-app-loading-text: "Dark Valo";
$v-background-color: #2c3e50;
$v-focus-color: #1abc9c;
$v-focus-style: 0 0 3px 2px $v-focus-color;
$v-bevel-depth: 40%;
$v-gradient: v-linear 12%;
$v-border-radius: 6px;
$v-font-family: Roboto, sans-serif;
$v-font-weight: 400;
$v-font-weight--header: 400;
$v-bevel: inset 0 1px 2px v-tint, inset 0 0 1px (v-tint 0.1);
$v-shadow: 0 0 0 3px rgba(44, 62, 80, 0.34), 0 1px 0 3px #2c3e50;
$v-textfield-bevel: inset 0 2px 2px v-shade;
$v-textfield-shadow: $v-shadow;
$v-unit-size: 40px;
$v-overlay-shadow: 0 0 0 3px (v-shade 8), 0 5px 10px (v-shade 4);
$v-component-group-spacing: 6px;
$v-margin-menu-items: 15px;

@import "../valo/valo.scss";


@mixin metro {
  @include valo;

  .valothemeui #themeSelect {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    padding: 0 10px;
    background-color: #ededed;
    background-color: rgba(237, 237, 237, 0.9);
    color: #464646;
    border-radius: 0 0 0 4px;
  }

  .valothemeui #themeSelect:before {
    content: "Theme:";
  }

  .valothemeui #themeSelect select {
    background: transparent;
    color: inherit;
    border: none;
    display: inline-block;
  }

  .valothemeui .v-ui[width-range~="0-800px"] #themeSelect {
    top: 37px;
  }

  .valothemeui .v-splitpanel-vertical,
  .valothemeui .v-splitpanel-horizontal {
    outline: 1px dotted rgba(128, 128, 128, 0.2);
  }

  .valothemeui .valo-content > .v-layout {
    max-width: 960px;
    display: block;
    margin: 0 auto;
  }

  .title, .nickname {
    font-size: 20px;
    color: aliceblue;
  }

  .menu-item {
    margin-top: $v-margin-menu-items;
    margin-bottom: $v-margin-menu-items;
    font-size: 15px;
  }

  .avatar {
    width: 100%;
  }

  .image-panel {
    border-radius: 15px 15px 15px 15px;
  }

  .data-about {
    font-size: 13px;
  }

  .v-textarea {
    overflow-y: auto ! important;
  }

  .no-margin {
    //margin: 0 auto;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .label-text-yellow {
    color: #fff96b;
    font-size: large;
  }

  .label-text-green {
    color: #1eff0d;
    font-size: large;
  }

  .label-text-red {
    color: #ff0a09;
    font-size: large;
  }

  .layout-with-border {
    border: 3px solid #2c3e50;
    border-radius: 15px 15px 15px 15px;
  }
  .layout-with-bottom-border {
    border-bottom: 3px solid #2c3e50;
  }
  .comment-date-font {
    font-size: 13px;
    margin-left: 20px;
  }
  .comment-title {
    background-color: #2c3e50;
  }


  ::-webkit-scrollbar { width: 5px; height: 5px;}
  ::-webkit-scrollbar-button {  background-color: #666; }
  ::-webkit-scrollbar-track {  background-color: #999;}
  ::-webkit-scrollbar-thumb { height: 50px; background-color: $v-focus-color; border-radius: 5px;}
  ::-webkit-scrollbar-corner { background-color: #999;}
  ::-webkit-resizer { background-color: #666;}

}